body {
	font-family: century gothic;
} 


/*desain pada bagian class container*/
.container {
	width: 100%;
	height: 300px;
}

/*desain pada bagian class center*/
.container .center {
	font-family: harlow solid;
	font-size: 70px;
	text-align: center;
	color: white;
	padding-top: 8%;
}


/*desain pada bagian class right*/
.container .right {
	text-align: right;
	font-size: 30px;
	margin-right: 2%;
	font-family: century gothic;
	padding-top: 4%;
	font-style: italic;
	font-weight: bold;
}

.container .right a {
	color: white;
	text-decoration: none;
}

.container .right a:hover {
	text-decoration: underline;
}

/*desain pada class bagian row*/
.row {
	width: 100%;
	height: 250px;
}

p {
	font-size: 23px;
}

p img {
	margin-left: 3%;
	width: 250px;
	float: left;
}

.menu {
	width: 100%;
	text-align: center;
}

.menu .satu {
	height: 2px;
	background-color: #4b3832;
	width: 40%;
}

.menu .dua {
	height: 2px;
	background-color: #4b3832;
	width: 60%;
}

.menu .tiga {
	height: 2px;
	background-color: #4b3832;
	width: 40%;
}

.menu ul {
	list-style: none;
}

.menu li {
	display: inline-block;
	padding: 90px;
}

.menu ul li {
	font-size: 20px;
}