body {
	font-family: century gothic;
}

.container {
	margin-top: 10%;
	width: 30%;
	background-color: #006666;
	padding: 10px;
	border-radius: 5px;
	margin-left: 36%;
	color: white;
	height: 300px;
} 

.container h3 {
	text-align: center;
}

.container .masukan {
	border-radius: 5px;
	width: 96%;
	padding: 5px;
	height: 40px;
}

.container .tombol {
	background-color: white;
	height: 33px;
	width: 15%;
	color: #006666;
	border-radius: 5px;
	margin-left: 42%;
}