.header {
	font-family: harlow solid;
}

/*desain table pada div tb*/
.tb table {
	text-align: left;
}

/*desain table pada div tb2*/
.tb2 {
	margin-top: 8%;
	margin-left: 17%;
}

.tb2 table {
	width: 80%;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right:  1px solid black;
	border-bottom: 1px solid black;
	padding: 15px;
}

.tb2 .font {
	font-size: 25px;
	
}