body {
	font-family: century gothic;
}

/*desain pada dashboard*/
span {
	float: right;
	margin-right: 7%;
	color: #006666;
}

.order {
	color: white;
	width: 80%;
}

.order ul {
	list-style-type: none;
}

.order ul a {
	color: white;
	text-decoration: none;
}

.order ul li {
	margin: 5px;
}
.order ul span {
	font-size: 30px;
}

.order li {
	text-align: justify-all;
	border-radius: 5px;
	min-height: 20%;
	background-color: rgb(31, 125, 122);
	display: inline-block;
	padding: 1%;
	width: 40%;
}
.order ul li img {
	width: 115px;
}

.order ul li .uang {
	width: 110px;
}

.order ul li p {
	padding-left: 1px;
}

/* desain pada container menu atas */
.container {
	width: 100%;
	background-color: #006666;
	border-radius: 5px;
	height: 64px;
	font-size: 30px;
}

.container ul {
	padding-top: 1%	;	
	list-style-type: none;
	font-family: harlow solid;
}

.container li {
	display: inline;
	float: left;
}

.container ul li a {
	text-decoration: none;
	color: white;
}

.container .right {
	font-family: century gothic;
	float: right;
	font-size: 20px;
	padding-right: 1%;
}

/* desain row bagian bawah */
.row {
	width: 100%;
}

.samping {
	margin-top: 1%;
	float: left;
	width: 20%;
	background-color: #006666;
	border-radius: 5px;
	min-height: 89%;
}

.samping ul {
	list-style-type: none;
}

.samping ul li a {
	color: white;
	text-decoration: none;
}

.samping ul hr {
	margin-right: 12%;
}


/* desain class isi */
.isi {
	float: right;
	width: 79%;
	color: #006666;
}

/* desain pada tulisan tambah */
.isi h4 a {
	color: #006666;
	text-decoration: none;
}

.isi h4 a:hover {
	text-decoration: underline;
}

/* desain setiap table */
table {
	border-collapse: collapse;
	width: 100%;
	text-align: left;
}

.tab {
	width: auto;
}

.tab tr th {
	background-color: white;
	color: black;
}

table tr th {
	background-color: #006666;
	color: white;
	padding: 5px;
}

table tr td {
	padding: 5px;
}

/* desain pada form */
.form {
	padding-top: 2%;
	/* background-color: ; */
}

.form label {
	font-weight: bold;
	font-size: 18px;
}

.form .masukan {
	width: 50%;
	height: 35px;
	padding: 5px;
	border-radius:3px;	
}

.form .kode {
	width: 50%;
	height: 30px;
	border-radius: 5px;
	padding: 3px;
}

.form .selct {
	font-family: century gothic;
	width: 80%;
	height: 30px;
	border-radius: 5px;
}

.form .tombol {
	background-color: white;
	width: 10%;
	font-weight: bold;
	color: #006666;
	height: 36px;
	border-radius: 5px;
	border-color: black;
}

.form .seleect {
	font-family: century gothic;
	width: 20%;
	height: 30px;
	border-radius: 5px;
}

/* desain pada nampilin menu di tambah order */
.menu {
	overflow: scroll;
	height: 300px;
}

.menu ul {	
	list-style-type: none;
}

.menu li {
	display: inline;
	float: left;
	padding: 10px;
	width: 30%;	
}

td a {
	text-decoration: none;
	color: black;
	font-style: italic;
}

td a:hover {
	text-decoration: underline;
}

.form hr {
	width: 50%;
	margin-right: 50%;
}

/* table transaksi */
.trans {
	width: 35%;
}

/*pilihan export pada laporan*/
.export {
	font-weight: bold;
	padding: 5px;
	text-decoration: none;
	color: white;
	margin-left: 1%;
	width: 30%;
	height: 20px;
	background-color:#006666;
	border-radius: 3px;
}

/*desain foto pada daftar menu*/
img {
	width: 100px;
	height: 100px;
}

div.gallery {
	margin: 5px;
	border: 1px solid #ccc;
	float: left;
	width: 180px;
  }
  
  div.gallery:hover {
	border: 1px solid #777;
  }
  
  div.gallery img {
	width: 100%;
	height: auto;
  }
  
  div.desc {
	padding: 15px;
	text-align: center;
  }